/* *{
    text-align: center;
}

canvas#snake{
    background-color: darkseagreen;
    border: 3px dotted darkgreen;
}
*/
h1{
    font-family: 'Orbitron', sans-serif;
    color: darkseagreen;
    text-shadow: darkgreen 1px 1px 3px;
    letter-spacing: 3px;
    word-spacing: 5px;
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
canvas {
    background-color: darkseagreen;
    display: block;
    margin: 0 auto;
}